@import "fonts";
@import "mixins";
@import "hovers";

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-inter {
    font-family: "Inter";
}

.title {
    display: inline-block;
    margin: 0.5em;
    font-size: 2em;

    @extend .font-inter;
    @extend .hover-underline;
    @extend .hover-arrow;
}

.spacing {
    @include mobile {
        padding: 4em 1em;
    }

    @include desktop {
        padding: 4em;
    }

    text-align: center;
}

.rounded-border {
    border-radius: 12px;
}

.not-link {
    text-decoration: none;
    color: $fontColor;
}
