@import "variables";

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin hover-highlight($highlightColor) {
    &:hover {
        background-color: $highlightColor;
    }
}

@mixin shadow($shadowColor: $black) {
    box-shadow: 0.1em 0.1em 0.2em #{$shadowColor};
}

@function box-shadow($stars) {
    $bxshadow: ();
    @for $i from 1 to $stars {
        $bxshadow: append($bxshadow, (random(2000) + 0px) (random(800) + 0px) #fff, comma);
    }
    @return $bxshadow;
}
