$primary: #959595;
$primaryLight: #5d5d5d;
$primaryLighter: #5a5a5a;

$secondary: #4b4e52;
$secondaryLight: lighten($secondary, 20%);

// for the stars
$bxshadow-large: box-shadow(100);
$bxshadow-medium: box-shadow(300);
$bxshadow-small: box-shadow(500);

$fontColor: #ffffff;

$desktop: 540px;
