$primary: #e3e3e3;
$primaryLight: #a6a6a6;
$primaryLighter: #8e8e8e;

$secondary: #b0c9e0;
$secondaryLight: lighten($secondary, 20%);

// for the stars
$bxshadow-large: box-shadow(100);
$bxshadow-medium: box-shadow(300);
$bxshadow-small: box-shadow(500);

$fontColor: #252020;

$desktop: 540px;
