
@import "../../global_styles/extension";
@import "../../global_styles/variables";

.skills{
    @extend .spacing;

    .skill-category{
        margin-top: 1.5em;
        font-size: 1.5em;
    }

    .skill-list{

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .skill{
            @extend .centered-row;
            @extend .rounded-border;

            border: 1px solid $fontColor;
            padding: 8px;
            margin: 8px;

            .skill-logo{
                height: 30px;
                padding-right: 8px;
            }
        }
    }

}