@import "../../global_styles/extension";
@import "../../global_styles/hovers";
@import "../../global_styles/variables";

#contact {
  @extend .spacing;

  .contact-list {
    display: wrap;

    .contact-item {
      display: inline-block;
      align-items: center;
      margin: 1em;

      @extend .not-link;
      @extend .hover-elevate;

      .contact-icon {
        font-size: 2em;
      }
    }
  }
}
