@import "../../global_styles/extension";
@import "../../global_styles/hovers";
@import "../../global_styles/variables";

#featured-projects {
    background-color: $primaryLighter;

    @extend .spacing;

    .project {
        @extend .rounded-border;

        background-color: $primary;
        width: 50vw;
        min-width: 320px;
        margin: 1em auto;

        .project-screenshot {
            @extend .rounded-border;
            width: 100%;
        }

        .project-details {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .project-name {
                font-size: 1.2em;
            }

            .project-description {
                margin: 1em;
            }

            .project-link {
                @extend .rounded-border;
                @extend .font-inter;
                @extend .hover-elevate;

                display: inline-block;
                width: 20%;
                padding: 0.4em;
                margin: 0.4em;
                background-color: $secondary;
                text-decoration: none;
                color: $fontColor;
            }
        }
    }
}
