@import "../../global_styles/extension";
@import "../../global_styles/hovers";
@import "../../global_styles/variables";

#featured-projects {
    background-color: $primaryLighter;

    @extend .spacing;

    .carousel .thumbs-wrapper {
        margin: 0 auto !important;
    }

    .project {
        @extend .rounded-border;

        background-color: $primary;
        width: 70vw;
        min-width: 320px;
        margin: 1em auto;

        .project-screenshot {
            @extend .rounded-border;

            max-height: 80vh;
            object-fit: contain;
            width: 100%;
        }

        .project-details {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .project-name {
                margin: 20px;
                font-size: 1.4em;
                font-weight: bold;
            }

            .project-description {
                margin: 1em;
            }
        }

        .project-link {
            @extend .rounded-border;
            @extend .font-inter;
            @extend .hover-elevate;

            display: inline-block;
            width: 90%;
            padding: 0.6em;
            margin: 0.4em;
            margin-bottom: 2em;
            background-color: $secondary;
            text-decoration: none;
            color: $fontColor;
        }
    }
}
